# Ignore data and annotations (raw and extracted)
data/images/
data/annotations/
data/*.tar.gz

# Ignore outputs from training, but keep the folder structure
outputs/*/*
!outputs/**/.gitkeep





# Ignore Python cache and system files
__pycache__/
*.pyc
.DS_Store

# Environment or virtualenv
.env
venv/
